@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Debrik's website</h1>
    <p>To learn more about <a href="https://bcrec.ac.in/">Dr B.C. ROY ENGINEERING COLLEGE</a> click here.</p>
</div>
